*{
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}
.paragraph{
  text-align: justify;
  text-indent: 50px;
}
.overview{
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
}